<div class="card">
	<p>{{name}}</p>
	<img src="{{image}}" alt="">
    <a href="/tracks/:albumId">View Tracks</a>
</div>
{{!-- 
	Same remarks as in artist-search-result.hbs
	Explore the data you send then do a {{#each}} on the Array you give to the view and try to display the data
 --}}